<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex justify-content-between align-items-center">
          <img src="assets/fachada.jpg" class="d-block w-50" alt="Image 1">
          <div class="w-50 p-4">
            <h3>NUESTRA CLÍNICA</h3>
            <p>La clínica San Gabriel cuenta con más de 400 médicos especialistas distribuidos en más de 40 especialidades, quienes ponen a su disposición toda su experiencia profesional, apoyados en tecnología de punta y la mejor infraestructura para realizar diagnósticos precisos y ofrecer los tratamientos más eficaces bajo los estándares internacionales de la Joint Commision International – JCI.</p>
            <h3>NUESTRA MISIÓN</h3>
            <p>Lograr la satisfacción y confianza de nuestros pacientes y colaboradores.</p>
            <h3>NUESTRA VISIÓN</h3>
            <p>Mantenernos como la red privada de salud más grande del país, con personal altamente capacitado, motivado y apoyado en tecnología de punta.
            <h3>NUESTROS VALORES</h3>   
            <p>Honestidad y Lealtad</p>
            <p>Trabajo en equipo</p>
            <p>Comunicación</p>
            <p>Liderazgo</p>
            <p>Excelencia enfocada en el paciente</p>
            
          </div>
        </div>
      </div>
      <!-- Agregar más items del carrusel según sea necesario -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

